@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #fff;
    font-family: "Jost", sans-serif;
    letter-spacing: 0.3px;
    color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;

}
section{
    padding-top: 50px;
}
h1{
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
}
p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
a {
    text-decoration: none;
}
nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 14px auto;
    align-items: center;
}
.cLogo img{
    width: 170px;
}
nav button {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.hero {
    height: 60vh;
    background-image: url('Assets/Header_Bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.hero h1{
    font-size: 56px;
}
.searchBar{
    width: 40%;
    height: 56px;
    background-color: #fff;
    display: flex;
    border-radius: 50px;
    font-weight: bold;
}
.searchBar input {
    flex-basis: 60%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}
.searchBar button{
    flex-basis: 20%;
    height: 100%;
    background-color: #ff006e;
    border: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
}
.locationInfo{
    flex-basis: 20%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
}
.line{
    width: 1px;
    height: 40px;
    background: #C5CBD1;
    position: absolute;
    top:20;
    right: 0;
}
.AppInfo {
    width: 60%;
    display: flex;
    margin: 40px auto;
}

.appInfoImg, .appInfoContent {
    flex-basis: 50%;
    padding: 40px;
}

.appInfoImg img {
    height: 100%;
    width: 100%;
}

.appInfoContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.appInfoContent h1{
    padding-bottom: 30px;
}
.appInfoContent p{
    width: 400px;
    padding-bottom: 30px;
}
.appInfoContent button{
    background-color: #ff006e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 21px;
    height: 56px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
    padding-block: 16px;
    padding-inline: 25px;
}
.areas {
    width: 70%;
    margin: 40px auto;
}
.areaExplore{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.aInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin: 0px auto;
}
.aInfo h1{
    font-size: 32px;
}
.area {
    display: flex;
}

.a1 {
    flex: 1 1 33%;
}

.a2 {
    flex: 2 1 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.resInformation {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resInfoImg img {
    width: 100%;
    height: auto;
}
.resInfo p {
    font-size: 18px;
}
.resInfo h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
.resInfo{
    padding-block: 30px;
}
.DelTime {
    display: flex;
    gap: 50px;
}
.delivery, .time {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
}
.dTImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dTImg img{
    width: 18px;
    height: 18px;
}
#ch .resInfoImg img {
    height: 616px;
}
.about {
    width: 60%;
    margin: 40px auto;
}
.about h1 {
    padding-bottom: 30px;
    text-align: center;
}
.aboutContent {
    display: flex;
    justify-content: space-evenly;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    padding: 5px;
    height: 360px;
    width: 288px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.cards p {
    text-align: center;
    font-size: 14px;
}
.cards h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.cardImg {
    width: 80px;
    height: 80px;
}
.cardImg img {
    width: 100%;
    height: 100%;
}
.promo {
    width: 70%;
    height: 360px;
    margin: 100px auto;
    background-color: #ff6a90;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    color: #fff;
    padding: 55px 104px;
}

.promo img {
    position: absolute;
}

.promo h1 {
    width: 608px;
    z-index: 3;
    position: relative;
}

.promo a {
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 100px;
    color: #fff;
    z-index: 3;
    position: relative;
}

.promo button {
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    background-color: #283646;
    padding: 16px 26px;
    color: #fff;
    cursor: pointer;
    z-index: 3; 
    position: relative;
}

.promoB {
    padding-top: 40px;
    z-index: 2;
}
.promoBg1 {
    top: -410px;
    left: -260px;
    z-index: 1;
}

.promoBg2 {
    bottom: 0;
    right: 0;
    z-index: 1;
}

.reviews {
    width: 60%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rSwap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.rSwap img{
    cursor: pointer;
}
.companyL {
    display: flex;
}

.reviews p {
    text-align: center;
    width: 800px;
    padding-block: 40px;
}
.rSwapImg{
    background-image: url('Assets/R_Bg.png');
    width: 608px;
    height: 343px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.rSwapImg p{
    text-align: center;
    color:  #F40469;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    width: 400px;
    padding-block: 0;
}
.rSwapImg h2{
    text-align: center;
    color: #F8F9FA;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    width: 400px;
}
.circle{
    width: 80px;
    height: 80px;
    background:#C5CBD1;
    border-radius: 100%;
}
.comp {
    width: 120px;
}
.companyL{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 80px;
}
.comp img {
    width: 100%;
}

footer {
    position: relative;
}

.footMark {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.footL {
    display: flex;
    width: 70%;
    padding-block: 40px;
}
.footL .cLogo{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; 
    position: relative;
}
.footLink{
    flex-basis: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3; 
    position: relative;
}
.footLink a{
    font-weight: 600;
}
footer a {
    color: black;
}

.foot {
    width: 100%;
    height: 240px;
    background-color: #f8f9fa;
}
.foot a {
    font-weight: normal;
}
.footContent{
    width: 70%;
    height: 100%;
    display: flex;
}
.footRight{
    flex-basis: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 3; 
    position: relative;
}
.footAddress{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footRightCon{
    width: 85%;
    display: flex;
    justify-content: space-around;
}
.RestRating, .faq, .footCom {
    display: flex;
    flex-direction: column;
}

